<div class="container" style="width: 250px">
	<div class="infowindow">
		<br><%= image_tag @listing.image.url, width: 280, height: 100, class: "img-responsive" %>
           <h1><%= @listing.title %></h1>
           <br><%= @listing.address %>
           <br>

	</div>
 </div>