<div class="container" style="width: 250px">
	<div class="infowindow"><%= link_to listing_path(@listing) do %>
		<br>   <%= image_tag(@listing.pictures.first.photo.url, :width => '100%') %><% end %>
           <h1><%= @listing.title %></h1>
           <br><%= @listing.address %>
           <br>

	</div>
 </div>