<html>
<head>
<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1> Welcome to Spacebuq, <%= @user.name %>, </h1>
	<p> Welcome to our site!
	</p>
	<p> To login to Spacebuq, just follow this link: <%= @url %>
	</p>
</body>
</html>