 	<div class="row">
        <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="nav-collapse ">
            <ul class="sidebar-nav">
                <%= render 'pages/dashsidebar' %>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">     
                 <%= render partial: 'mailbox/folder_view', locals: { is_conversation: false, messages: @sent } %>

                        
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

