	  <div id="about-header">
<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 text-center">
				<br><h1>Find the SPACE, buq it.</h1>
				<br>SPACEbüq aims to provide the most user friendly venue management platform in the market, and the simplest, comprehensive search experience for event planners and everyday people planning events.
</div>
			</div>
		</div><!-- /row -->
		</div><!-- /container -->
		  <div id="about">
		<div class="container">
		<div class="row-about">
			<div class="col-lg-6">
				<h4>For Planners</h4>
				<p>Our advanced search function allows you to find exactly what you’re looking for. Browse thousands of beautifully curated venues for free.
				</p>
				<p>Book your consultation, confirm your booking, and pay securely online, all without leaving your seat (unless you go for a viewing at the venue before booking of course)!</p>
			</div><!--/col-lg-4 -->

			<div class="col-lg-6">
				<h4>For Venues</h4>
				<p>List your venue for free and be connected to people searching for your venue. The whole booking process can now be taken online.</p>
				
			</div><!--/col-lg-4 -->

		</div><!-- /row -->
	</div><!-- /about -->
	</div><!-- /container -->
