 <div class="form-cl">
 	 <div class="container">
 	<p class="centered">

 		<%= link_to image_tag('img/ui-sam.jpg', :class => "img-circle"), "#" %>
 		<%= link_to "New Listing", new_listing_path %>
 	</p>
 </div>
 </div>