	  <div id="about-header">
<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 text-center">
				<br><h1>Frequently Asked Questions (FAQ)</h1>

				<br><b>How will I (venue managers) be billed? </b>
				<p>We will send you a summary of the leads you received on a monthly basis. You let us know how many converted, and what the final booking values came to- we will then generate an invoice to occur in the month following the date of the event.</p>

				<br><b>What payment options are available?</b>
				<p>We accept in order of preference Paypal, online transfers, cash, and cheques. </p>

				<br><b>What is SPACEbuq’s refund policy?</b>
				<p>We don’t get paid until you do so there would never be a need for refunds.</p>

				<br><b>What fees does SPACEbuq charge?</b>
				<p>See <%= link_to "here", fees_path %> for our pricing info.</p>

				


</div>
			</div>
		</div><!-- /row -->
		</div><!-- /container -->
		 