 	<div class="row">
        <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" class="nav-collapse ">
            <ul class="sidebar-nav">
                <%= render 'pages/dashsidebar' %>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
                    <div class="container">
                        <h1 class="text-center">Favourite Listings</h1>
                        <div class="col-md-8">
        <% if current_user.favourite_listings.exists? %>
 <p> <%= render @listings %> </p>
<% else %>
None yet!
<% end %>

</div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>

                 