	  <div id="about-header">
<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 text-center">
				<br><h1>Fees/Pricing</h1>
				<br>No more paying for leads that may not go anywhere, or memberships just to be listed.
<br>
<br>SPACEbuq operates on a paid-for-performance model, and will only charge a commission on the value of a successful booking. If it takes 20 leads for 1 to convert, we only charge you for the 1 that successfully converted. Our rate is 10% of the total booking value excluding taxes. That’s it. 

</div>
			</div>
		</div><!-- /row -->
		</div><!-- /container -->
		 