	  <div id="about-header">
<div class="container">
		<div class="row">
			<div class="col-lg-6 col-lg-offset-3 text-center">
				<br><h1>How it Works</h1>
				<br>SPACEbüq aims to provide the most user friendly venue management platform in the market, and the simplest, comprehensive search experience for event planners and everyday people planning events.

</div>
			</div>
		</div><!-- /row -->
		</div><!-- /container -->
		  <div id="about">
		<div class="container">
		<div class="row-about">
			<div class="col-lg-6">
				<h4>For Planners</h4>
				<br><b>FIND VENUES</b>
				<p>SPACEbuq saves you the work of googling for venues on your own, then calling them one by one to confirm additional details. That can now be all accomplished in just a few clicks!
				</p>
				<Br><b>QUICK AND EASY</b>
				<p>Our search function allows you to hone down to exactly the kind of venue you’re looking for. You can also filter down results if you’re looking for something specific like Kosher catering.</p>
				<br><b>MERITOCRATIC LISTINGS</b>
				<p>SPACEbuq lists all the venues available, not just the ones that have paid for extra exposure.</p>
				<br><b>FREE TO USE</b>
				<p>SPACEbuq will always be free for Event Planners.</p> 
				
			</div><!--/col-lg-4 -->

			<div class="col-lg-6">
				<h4>For Venues</h4>
				<br><b>FREE TO LIST</b>
				<p>SPACEbuq will list your venue for free. We operate on a paid-for-performance model, and will only charge a commission on successful bookings.</p>
				<br><b>NEW CUSTOMERS</b>
				<p>Get your venue in front of a new and qualified audience that may not have considered or known about your space before.</p>
				<br><b>SIMPLE SIGNUP</b>
				<p>We’ve made the process as straightforward as possible to help you get up and running in no time!</p>
				
			</div><!--/col-lg-4 -->

		</div><!-- /row -->
	</div><!-- /about -->
	</div><!-- /container -->
